<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="#">
                MySQL Exercises
            </a>
            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                <img src="//placehold.it/40?text=LOGO" alt="logo">
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link m-2 menu-item nav-active">Все задания</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/userProgress}" class="nav-link m-2 menu-item">Мой прогресс</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/registration}" class="nav-link m-2 menu-item">Регистрация</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav-link m-2 menu-item">Войти</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <p class="nav-link m-2 menu-item" sec:authentication="name"></p>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="nav-link m-2 menu-item btn btn-primary text-light" type="submit">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>