<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">MySQL Exercises</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Все задания</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Справочный материал</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Мои задания</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Мой прогресс</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Добавить таблицу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Добавить задание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Регистрация</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Войти</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>
</body>
</html>