<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .table tr > th:last-child, .table tr > td:last-child {
            text-align: right;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">MySQL Exercises</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Все задания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Справочный материал</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои задания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Мой прогресс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Добавить таблицу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Добавить задание</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item d-none">
                    <a class="nav-link" href="#">Регистрация</a>
                </li>
                <li class="nav-item d-none">
                    <a class="nav-link" href="#">Вход</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">test@mail.ru</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pt-5">
    <!--<div class="col-12 col-md-6 mx-auto">
        <h1 class="text-center">Регистрация</h1>
        <form>
            <div class="form-group">
                <label for="loginReg">Логин</label>
                <input type="text" class="form-control" id="loginReg" placeholder="Логин">
            </div>
            <div class="form-group">
                <label for="nameReg">Имя</label>
                <input type="text" class="form-control" id="nameReg" placeholder="Имя">
            </div>
            <div class="form-group">
                <label for="passwordReg">Password</label>
                <input type="password" class="form-control" id="passwordReg" placeholder="Пароль">
            </div>
            <div class="form-group">
                <label for="passwordConfirmReg">Подтверждение пароля</label>
                <input type="password" class="form-control" id="passwordConfirmReg" placeholder="Подтверждение пароля">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>-->
    <!--<div class="col-12 col-md-6 mx-auto">
        <h1 class="text-center">Авторизация</h1>
        <form>
            <div class="form-group">
                <label for="loginAuth">Логин</label>
                <input type="text" class="form-control" id="loginAuth" placeholder="Логин">
            </div>
            <div class="form-group">
                <label for="passwordAuth">Password</label>
                <input type="password" class="form-control" id="passwordAuth" placeholder="Пароль">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>-->
    <!--<div class="col-12 col-md-6 mx-auto">
        <h1 class="text-center">Добавление задачи</h1>
        <form>
            <div class="form-group">
                <label for="nameTask">Название задания</label>
                <input type="text" class="form-control" id="nameTask" placeholder="Название задания">
            </div>
            <div class="form-group">
                <label for="deskTask">Описание задачи</label>
                <input type="text" class="form-control" id="deskTask" placeholder="Описание задания">
            </div>
            <div class="form-group">
                <label for="schemeTask">Изображение схемы базы данных</label>
                <input type="file" class="form-control-file" id="schemeTask">
            </div>
            <div class="form-group">
                <label for="tableTask">Подключаемая таблица</label>
                <select class="form-control" id="tableTask">
                    <option>Таблицы изделий</option>
                </select>
              </div>
            <div class="form-group">
                <label for="answerTask">Верный SQL запрос, который решает задание</label>
                <textarea id="answerTask" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Загрузить задание</button>
            </div>
        </form>
    </div>-->
    <!--<div class="col-12 col-md-6 mx-auto">
        <h1 class="text-center">Добавление таблицы</h1>
        <form>
            <div class="form-group">
                <label for="nameEntity">Название таблицы</label>
                <input type="text" class="form-control" id="nameEntity" placeholder="Название таблицы">
            </div>
            <div class="form-group">
                <label for="answerTask">Верный SQL запрос, который добавляет таблицы и данные в них</label>
                <textarea id="answerTask" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Загрузить таблицу</button>
            </div>
        </form>
    </div>-->
    <!--<h1>SQL задания</h1>
    <div class="row">
        <?/*
        $tasks = [
            "Получить полные сведения обо всех изделиях.",
            "Получить полные сведения обо всех изделиях в Томске.",
            "Получить номер детали, для которой нет другой детали, имеющей меньшее значение веса.",
            "Получить значения Snum для поставщиков, выполняющих поставки для изделия J1.",
            "Получить значения Snum для поставщиков, поставляющих для изделия J1 деталь P1.",
            "Получить названия издели, для которых выполняет поставки поставщик S1",
            "Получить значения цветов деталей, поставляемых поставщиком S1.",
            "Получить значения Snum для поставщиков, поставляющих для изделия красную деталь.",
            "Получить значения Snum для поставщиков, поставляющих детали для изделий J1 и J2.",
            "Получить значения Pnum для деталей, поставляемых для какого-либо изделия в Томске.",
            "Получить значения Pnum для деталей, поставляемых для какого-либо изделия поставщиком, находящимся в том же городе.",
            "Получить значения Pnum для деталей, поставляемых для какого-либо изделия в Томске поставщиком из Томска."
        ];
        foreach($tasks as $key => $task) {
            */?>
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-9">
                                <h5 class="card-title">Задание #<?/*=$key+1*/?></h5>
                                <p class="card-text"><?/*=$task*/?></p>
                            </div>
                            <div class="col-12 col-sm-3 d-flex justify-content-end align-items-center">
                                <a href="#" class="btn btn-primary">Решить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?/*
        }
        */?>
    </div>-->
    <h1>Выполненные SQL задания</h1>
    <div class="row">
        <?
        $tasks = [
            "Получить полные сведения обо всех изделиях.",
            "Получить полные сведения обо всех изделиях в Томске.",
            "Получить номер детали, для которой нет другой детали, имеющей меньшее значение веса.",
            "Получить значения Snum для поставщиков, выполняющих поставки для изделия J1.",
            "Получить значения Snum для поставщиков, поставляющих для изделия J1 деталь P1.",
            "Получить названия издели, для которых выполняет поставки поставщик S1",
            "Получить значения цветов деталей, поставляемых поставщиком S1.",
            "Получить значения Snum для поставщиков, поставляющих для изделия красную деталь.",
            "Получить значения Snum для поставщиков, поставляющих детали для изделий J1 и J2.",
            "Получить значения Pnum для деталей, поставляемых для какого-либо изделия в Томске.",
            "Получить значения Pnum для деталей, поставляемых для какого-либо изделия поставщиком, находящимся в том же городе.",
            "Получить значения Pnum для деталей, поставляемых для какого-либо изделия в Томске поставщиком из Томска."
        ];
        foreach($tasks as $key => $task) {
        if($key > 3) break;
        ?>
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body alert-success">
                    <div class="row">
                        <div class="col-12 col-sm-9">
                            <h5 class="card-title">Задание #<?=$key+1?></h5>
                            <p class="card-text"><?=$task?></p>
                        </div>
                        <div class="col-12 col-sm-3 d-flex justify-content-end align-items-center">
                            <a href="#" class="btn btn-success">Просмотр</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?
        }
        ?>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
